<html>
<head>
    <title>Your Profile</title>

</head>
<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="navbar-brand"><b>TruckStop</b></h1>
            <!--<a class="navbar-brand" href="#"><b>TruckStop</b></a>-->
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><button type="submit" class="btn btn-warning btn-header">LOGOUT</button></li>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><input type="text" class="form-control-header-rounded col-lg-push-1" placeholder="Search"></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<div id="headerwrap">
    <ul class="cb-slideshow">
        <li><span>Image 01</span><div><h3></h3></div></li>
        <li><span>Image 02</span><div><h3></h3></div></li>
        <li><span>Image 03</span><div><h3></h3></div></li>
        <li><span>Image 04</span><div><h3></h3></div></li>
        <li><span>Image 05</span><div><h3></h3></div></li>
        <li><span>Image 06</span><div><h3> </h3></div></li>
    </ul>

    <div class="container">
        <div class="row">
            <a href="#editprofile">
                <h1 style="text-align: center; margin-top: 350px; font-weight: 900">EDIT PROFILE HERE</h1>
            </a>
            </h1>
        </div>
    </div>

</div>

<div id="editprofile" class="container">
    <div class="row mt centered">
        <div class="col-lg-6 col-lg-offset-3">
            <form method="post" class="control-label1" role="form">
                <div class="form-group">

                    <h4 class="control-label1">Name : {{firstName}} {{lastName}} </h4>
                    <br>
                    <h4 class="control-label1">Email Address: {{emailAddress}}</h4>
                <br>
                <!--<label>Cuisines I like the most: </label>
                <input type="text" name="WhatILike">-->
                    <h4 class="control-label1">Edit your choices:</h4>
                    <br/>

                    <input type="text" class="form-control" id="cuisines" placeholder="Enter Cuisines You Like The Most" name="cuisines">
                    <br/>
                    <h4 class="control-label1">Notify when food truck is within:</h4>
                <select name="Distance">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                </select>
                <br/>
                    <h4 class="control-label1">Upload new Image : </h4>
                <input type="file" name="image"/>
                <br/>
               <button type="submit" class="btn btn-warning btn-lg joinbtn">DONE</button>

            </form>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.86080.js"></script>

</body>
</html>