<html>
	<head>
		<title>Post an article here</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<label> Name : {{firstName}} {{lastName}}</label>
			
						<br/>
			<label>Email Address: {{EmailAddress}} </label>
						<br/>
			<label>Settings : </label>
						<br/>
			<label>What I like most: {{WhatILike}} </label>
			
			<br/>
			
			<label>Notify when food truck is within : {{Distance}}</label>
			
			<br/>
			
			<br/>
			
			<input type="submit" value="Home"/>
		</form>
	</body>
</html>