<html>
	<head>
		<title>Post an article here</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<label> Food Truck Name : </label>
			<input type="text" name="FoodTruckName"/>
			<br/>
			<label>License Number : </label>
			<input type="text" name="LicenseNumber"/>
			<br/>
			<label>Your Speciality Cuisine : </label>
			<input type="text" name="SpecialityCuisine"/>
			<br/>
			<label>Operating Hours : </label>
			<input type="text" name="OperatingHours"/>
			<br/>
			<label>About Me : </label>
			<textarea rows="4" cols="50" name="AboutMe">	</textarea>
			<br/>
			<label for="image">Image : </label>
			<input type="file" name="image"/>
			<br/>
			<input type="submit" value="Get Started"/>
		</form>
	</body>
</html>